input{
  border-radius: 5px;
  border-color: #a7a7a7;
  border-style: solid;
  text-align: left;
  height: 40px;
  left: 0;
  width: 93%;
  margin-left: 0;
}

input:focus{
  outline: none !important;
  border:3px solid #3EECAC;
  box-shadow: 0 0 10px #719ECE;
}

.button {
  background-color: #a7a7a7;
  border: 3px solid #3EECAC;
  color: #404040;
  padding: 15px 32px;
  border-radius: 30px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button:hover{
  background-color: #3EECAC;
}