.card{
  margin: auto;
  width: 100%;
  border-color: #3EECAC;
}

.minicard{
  margin: auto;
  width: 50%;
  height: 50%;
}

.is_donebtn{
  width: 15%;
  height: 30px;
  background-color: #3EECAC;
  border-color: #a7a7a7;
  border-radius: 10px;
}

.is_donebtn:hover{
  background-color: #69ecc3;
}

.createbtn{
  width: 15%;
  height: 30px;
  background-color: #61dafb;
  border-color: #a7a7a7;
  border-radius: 10px;
}

.createbtn:hover{
  background-color: #81e4fb;
}

.canclebtn{
  width: 15%;
  height: 30px;
  background-color: #ec4e3b;
  border-color: #a7a7a7;
  border-radius: 10px;
}

.canclebtn:hover{
  background-color: #ec5b61;
}


input[type=checkbox].css-checkbox {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:45px;
  height:40px;
  display:inline-block;
  line-height:40px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:40px;
  vertical-align:middle;
  cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -40px;
}
label.css-label {
  background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_019807af606f0dea9eb28a8d35a7afc6.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.css-checkbox{
  height: 5px;
  width: 5px;
  margin: 20px;
}

.Label_popup{
  background-color: #dedede;
  position: fixed;
  overflow-y: auto;
  margin: 195px 0;
  height: 55%;
  width: 25%;
  right: 0px;
  z-index: 5;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: #a7a7a7;
  border-color: #333333;
  border-style: solid none solid solid;
  border-width: 2px;
}


.labels_button{
  background-color: #3EECAC;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  font-size:15px;
  right: -5px;
  margin-top: 167px;
  height: 30px;
  width: 7%;
  z-index: 8;
  position: fixed;
  border: #333333 solid 2px;
}

.labels_button:hover{
  cursor: pointer;
  background-color: #bbbbbb;
}