.profile-base {
  margin: 0 auto;
  padding: 50px;
  width: 75%;
  position: relative;
}

.profile-alternatives{
  padding-bottom: 30px;
  border-radius: 20px;
  border: 4px;
  border-color: #3EECAC;
  border-style: double;
}


.alt {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px auto;
  border-radius: 20px;
  align-items: center;
}

.alt a{
  color: black;
}

.alt a.active{
  color: #3EECAC;
}

.alt :hover{
  align-items: center;
  border-radius: 20px;
  padding: 5px;
  background-color: #a7a7a7;
  text-decoration: none;
  color: #3EECAC;
}

.profile-parts{
  padding-bottom: 30px;
  border-radius: 20px;
  border: 4px;
  border-color: #a7a7a7;
  border-style: double; 
}

.inside-profile-alt{
  font-size: 20px;
  color: #404040;
  position: relative;
  margin: 10px 20px;
  text-align: left;
}

.profile-picture-input{
  border-radius: 5px;
  border-color: #a7a7a7;
  border-style: solid;
  text-align: center;
  height: 40px;
  left: 0;
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
}


.profile-picture-input:hover{
  outline: none !important;
  border:3px solid #3EECAC;
  box-shadow: 0 0 10px #719ECE;
}