

table{
	width:100%;
	table-layout: fixed;
	overflow: scroll;
	 direction:ltr;
	
  }

  .tbl-header{
	  font-weight: bold;
	  text-align: center;
	background-color: #3EECAC;

   }
  .tbl-content{
	height:75%;
	overflow-x:auto;
	margin-top: 0px 0px 0px 0px;
	border: 2px solid rgba(19, 9, 31, 0.3);
  }
  th{
	  text-align: center;
	padding: 20px 50px;
	font-weight: bold;
	font-size: 12px;
	color: #000;
	text-transform: uppercase;
  }

  .week-cal{
	  width: 15%;
	  font-size: 10px;
	  position: center;
	  padding-bottom: 15px;
  }
  td{
	  text-align: center;
	padding: 20px 50px;
	text-align: center;
	vertical-align:middle;
	font-weight: bold;
	font-size: 12px;
	color: #000;
	border-bottom: solid 3px rgba(10, 3, 3, 0.1);
  }

  .cell-inp:hover{
	  background-color: rgb(220,220,220);
  }



  /* .cell-inp:hover:after {
	content: "+";
	text-align: center;
	vertical-align: middle;
	font-size: 2.5rem;
	font-weight: 100;
	color:blue;

  } 

  /* .cell-inp a{
	  width: 100%;
	  height: 100%;
	background-color: aqua;
  } */

 .button_ten{
	color: #333;
}
.button_ten:after{
	content: 'AddCard';
	width: 100%;
	height: 100%;
	color: blue;
	transition: all 0.2s ease;
	opacity: 0;
}

.button_ten:hover:after{
	
	opacity: 1;
	transition: all 0.2s ease;
}


  .form-tbl{
	border: 3px solid black;
	width: 75%;
	max-height: 50%;
	position: relative;
	margin: 20px auto;
  }
/* 
  .cell-inp2{
	background: transparent;
    display:block;
    width: 100%;
    height: 100%;
} */

  .set-btn-tbl {
	text-align: center; 
	background-color: #a7a7a7;
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 12px;
  }

  .icon-btn {
	width: 50px;
	height: 50px;
	border: 1px solid #cdcdcd;
	background: white;
	border-radius: 25px;
	overflow: hidden;
	position: relative;
	transition: width 0.2s ease-in-out;
  }
  .add-btn:hover {
	width: 120px;
  }
  .add-btn::before,
  .add-btn::after {
	transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 4px;
	width: 10px;
	top: calc(50% - 2px);
	background: blue;
  }
  .add-btn::after {
	right: 14px;
	overflow: hidden;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
  }
  .add-btn::before {
	left: 14px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
  }
  .icon-btn:focus {
	outline: none;
  }
  .btn-txt {
	opacity: 0;
	transition: opacity 0.2s;
  }
  .add-btn:hover::before,
  .add-btn:hover::after {
	width: 4px;
	border-radius: 2px;
  }
  .add-btn:hover .btn-txt {
	opacity: 1;
  }
  .add-icon::after,
  .add-icon::before {
	transition: all 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 20px;
	width: 2px;
	top: calc(50% - 10px);
	background: blue;
	overflow: hidden;
  }
  .add-icon::before {
	left: 22px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
  }
  .add-icon::after {
	right: 22px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
  }
  .add-btn:hover .add-icon::before {
	left: 15px;
	height: 4px;
	top: calc(50% - 2px);
  }
  .add-btn:hover .add-icon::after {
	right: 15px;
	height: 4px;
	top: calc(50% - 2px);
  }
  

  ::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
  
button.print-button {
	width: 50px;
	height: 50px;
  }
  span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
	border: solid 4px #333;
  }
  span.print-icon::after {
	border-width: 2px;
  }
  
  button.print-button {
	position: relative;
	padding: 0;
	border: 0;
	
	border: none;
	background: transparent;
  }
  
  span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
	box-sizing: border-box;
	background-color: #fff;
  }
  
  span.print-icon {
	position: relative;
	display: inline-block;  
	padding: 0;
	margin-top: 20%;
  
	width: 60%;
	height: 35%;
	background: #fff;
	border-radius: 20% 20% 0 0;
  }
  
  span.print-icon::before {
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 12%;
	right: 12%;
	height: 110%;
  
	transition: height .2s .15s;
  }
  
  span.print-icon::after {
	content: " ";
	position: absolute;
	top: 55%;
	left: 12%;
	right: 12%;
	height: 0%;
	background: #fff;
	background-repeat: no-repeat;
	background-size: 70% 90%;
	background-position: center;
	background-image: linear-gradient(
	  to top,
	  #fff 0, #fff 14%,
	  #333 14%, #333 28%,
	  #fff 28%, #fff 42%,
	  #333 42%, #333 56%,
	  #fff 56%, #fff 70%,
	  #333 70%, #333 84%,
	  #fff 84%, #fff 100%
	);
  
	transition: height .2s, border-width 0s .2s, width 0s .2s;
  }
  
  button.print-button:hover {
	cursor: pointer;
  }
  
  button.print-button:hover .print-icon::before {
	height:0px;
	transition: height .2s;
  }
  button.print-button:hover .print-icon::after {
	height:120%;
	transition: height .2s .15s, border-width 0s .16s;
  }
  
  
#Sun, #Mon , #Tue, #Thu,#Wed, #Fri, #Sat{
	margin-top: 10px;
	padding-top: 10px;
	background-color : #DAF7A6 ;
	height: 300px;
	width: 20%;
	display: inline-block;
	overflow-y: scroll
  }
  

  
  .card {
	background-color: #fff;
	margin: 7px;
	border-radius: 5px;	
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
  }
  
  .card:hover {
	cursor: pointer;
  }
  
  .card-header {
	padding: 5px 0 0 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
	padding: 10px 0 10px 5px;
  }

.container-in-tbl{
	width: auto;
	margin: auto;
}
  