
table{
	width:100%;
	table-layout: fixed;
  }
  .tbl-header{
	 overflow-y: auto;
	  font-weight: bold;
	  text-align: center;
	background-color: #3EECAC;
   }
  .tbl-content{
	height:365px;
	overflow-x:auto;
	margin-top: 0px;
	border: 2px solid rgba(19, 9, 31, 0.3);
  }
  th{
	  text-align: center;
	padding: 20px 50px;
	text-align: left;
	font-weight: bold;
	font-size: 12px;
	color: #000;
	text-transform: uppercase;
  }
  td{
	  text-align: center;
	padding: 30px 50px;
	text-align: left;
	vertical-align:middle;
	font-weight: bold;
	font-size: 12px;
	color: #000;
	border-bottom: solid 3px rgba(10, 3, 3, 0.1);
  }

  .form-tbl{
	border: 3px solid black;
	width: 75%;
	height: 75%;
	position:relative;
	margin: 20px auto;
  }

  .icon-btn {
	width: 50px;
	height: 50px;
	border: 1px solid #cdcdcd;
	background: white;
	border-radius: 25px;
	overflow: hidden;
	position: relative;
	transition: width 0.2s ease-in-out;
  }
  .add-btn:hover {
	width: 120px;
  }
  .add-btn::before,
  .add-btn::after {
	transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 4px;
	width: 10px;
	top: calc(50% - 2px);
	background: blue;
  }
  .add-btn::after {
	right: 14px;
	overflow: hidden;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
  }
  .add-btn::before {
	left: 14px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
  }
  .icon-btn:focus {
	outline: none;
  }
  .btn-txt {
	opacity: 0;
	transition: opacity 0.2s;
  }
  .add-btn:hover::before,
  .add-btn:hover::after {
	width: 4px;
	border-radius: 2px;
  }
  .add-btn:hover .btn-txt {
	opacity: 1;
  }
  .add-icon::after,
  .add-icon::before {
	transition: all 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 20px;
	width: 2px;
	top: calc(50% - 10px);
	background: blue;
	overflow: hidden;
  }
  .add-icon::before {
	left: 22px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
  }
  .add-icon::after {
	right: 22px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
  }
  .add-btn:hover .add-icon::before {
	left: 15px;
	height: 4px;
	top: calc(50% - 2px);
  }
  .add-btn:hover .add-icon::after {
	right: 15px;
	height: 4px;
	top: calc(50% - 2px);
  }

  .Add-btn-tbl {
	background-color: #a7a7a7;
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 12px;
  }
  

  ::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
  
  